.perfil{
    margin: 5px;
}

.img-perfil{
    border: 5px;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(66, 66, 66);
}

.img-fundo{
    height: 400px;
    background-image: url(https://www.animeunited.com.br/oomtumtu/2020/10/Majo-no-Tabitabi-sub-Indonesia.jpg);
    background-repeat: no-repeat;
    border-color: rgb(66, 66, 66);
    border-style: solid;
    border-top: 5px;
}

.coisasDoPerfil{
    margin-top: -7%;
    text-align: center;
}

.img-fundo, .img-perfil{
    box-shadow: -0px 2px 5px black;
}